.poke-card {
  padding-top: 20px;
  .pokeball {
    background-image: url('../images/pokeball.png');
    width: 100%;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .name {
    text-transform: capitalize;
    font-size: 16px;
    text-align: center;
  }
}

.research-card {
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
  box-shadow: 1px 5px 10px #ccc;
  padding: 20px 5px !important;
  position: relative;

  img {
    width: 100%;
    border: 1px solid #eee;
  }

  label {
    font-size: 14px;
    font-family: arial;
    text-transform: uppercase;
    font-weight: bold;
  }

  span {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    margin-left: 10px;
  }

  .heart {
    position: absolute;
    right: 20px;
    top: 335px;
  }

  .moves-list {
    width: 50vw;
    height: 150px;
    overflow: auto;
    border: 1px solid #eee;
    padding: 10px;
    margin-top: 9px;

    .pill {
      text-transform: uppercase;
      border: 1px solid #ccc;
      padding: 10px;
      width: fit-content;
      border-radius: 5px;
      margin-right: 10px;
      margin-top: 5px;
      box-shadow: 1px 1px 10px #eee;
      font-size: 12px;
      color: #777;
      letter-spacing: 3px;
      display: inline-block;
    }
  }
}

@media only screen and (max-width: 640px) {
  .only-desktop {
    display: none;
  }
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
  /* Styles */
  .image-container {
    display: inline-block;
    vertical-align: top;
    width: 400px;
  }

  .description-container {
    display: inline-block;
    vertical-align: top;
  }
}
